<div id="main">

  <h1>XF Hangman</h1>
  
  <section>
    <div class="sentence">
      <span *ngIf="formattedSentence$">
        {{ formattedSentence$ | async }}
      </span>
    </div>
    <div class="help-text">
      {{ helpText }}
    </div>
  </section>

  <section>
    <div class="hangman">
      {{ game.remainingMistakes }}
    </div>

    <div class="letter-buttons">
      <div *ngFor="let letter_row of lettersRows">
        <app-letter
            *ngFor="let letter of letter_row" [letter]="letter" [state]="stateSubject.asObservable()" (guessed)="onGuess($event)">
        </app-letter>
      </div>
    </div>
  </section>

  <section>
    <span>
      <div class="button-row">
        <button class="control-button" *ngIf="state == 1 || state == 4" (click)="onStart()" mat-raised-button color="primary">
          New Game!
        </button>
        <button class="control-button" *ngIf="state == 3" (click)="onNext()" mat-raised-button color="primary">
          Next!
        </button>
        <button class="control-button" *ngIf="state == 2" (click)="onHelp()" mat-raised-button color="primary" [disabled]="game.remainingHelp==0">
          Help me! ({{ game.remainingHelp }})
        </button>
      </div>
    </span>
  </section>

  <section>
    <div class="high-scores">
      <app-high-scores></app-high-scores>
    </div>

    <div class="Instructions">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Instructions</mat-panel-title>
          <mat-panel-description>The sentences are the English names of the episodes and the two movies.</mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li>You get {{ game.pointsPerLetter }} pts for correct guessed letter</li>
          <li>You get bonus {{ game.pointsPerSentence }} pts for completing each episode</li>
          <li>You can use the Help button {{ game.helpCanBeUsed }} times</li>
          <li>Each use of Help costs you {{ game.helpPenalty }} pts</li>
        </ul>
      </mat-expansion-panel>      
    </div>      
  </section>

  <section>
    <div class="score">
      <app-score [game]="game">
      </app-score>
    </div>
    <div class="backlog">
      Still to be done:
      <ul>
        <li>Do not offer same sentence twice</li>
        <li>Graphics (hangman)</li>
        <li>Cathcy name for the game!</li>
        <li>Live score board</li>
        <li>Statistics? How many times played, etc</li>
        <li>Auth.. proteticting the database</li>
      </ul>
    </div>
  </section>

  <section>
    <div class="i-made-this">
      I made this! @xfpekka, 2022<br>
      v.0.2, April 9th
    </div>
  </section>

</div>
