<div id="main">

  <h1>XF Hangman</h1>
  
  <section>
    <div class="sentence">
      <span *ngIf="formattedSentence$">
        {{ formattedSentence$ | async }}
      </span>
    </div>
    <div class="message">
      {{ message }}
    </div>
  </section>

  <section>
    <div class="hangman">
      {{ mistakesRemaining }}
    </div>

    <div class="letter-buttons">
      <div *ngFor="let letter_row of lettersRows">
        <app-letter
            *ngFor="let letter of letter_row" [letter]="letter" (guessed)="onGuess($event)">
        </app-letter>
      </div>
    </div>
  </section>

  <section>
    <span>
      <div class="button-row">
        <button class="control-button" [disabled]="!startButtonEnabled" (click)="onStart()" mat-raised-button color="primary">
          New Game!
        </button>
        <button class="control-button" [disabled]="!nextButtonEnabled" (click)="onNext()" mat-raised-button color="primary">
          Next!
        </button>
        <button class="control-button" [disabled]="!helpButtonEnabled" (click)="onHelp()" mat-raised-button color="primary">
          Help! ({{helpRemaining}})
        </button>
      </div>
    </span>
  </section>

  <section>
    <div class="high-scores">
      <app-high-scores></app-high-scores>
    </div>

    <div class="instructions">
        <app-instructions></app-instructions>
    </div>
  </section>

  <section>
    <div class="score">
      <app-score></app-score>
    </div>
  </section>

  <hr>

  <section>
    <div class="i-made-this">
      I made this! @xfpekka, 2022<br>
      v.0.5, May 2nd.<br>
      Still in progress.<br>
    </div>
  </section>

</div>
