<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Instructions</mat-panel-title>
      <mat-panel-description>The sentences are the English names of the episodes and of the two movies.</mat-panel-description>
    </mat-expansion-panel-header>
    Each title is asked only once, but they are asked in randomized order.<br>
    <ul>
      <li>You get {{ pointsPerLetter }} pts for correctly guessed letter</li>
      <li>You get a bonus {{ pointsPerSentence }} pts for completing each title</li>
    </ul>
  </mat-expansion-panel>      
